<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" id="input1" class="form-control " v-model="criterioDeBusqueda"
        placeholder="Ingresar un criterio de busqueda...">
    <span class="badge badge-light mb-4">Caracteres ingresados : {{ this.criterioDeBusqueda.length}}</span>
    <input type="text" class="form-control" v-model="criterioDeBusquedaPorNyA"
        placeholder="Ingresar un Nombre o Apellido">
    <span class="badge badge-light  mb-4 ">Caracteres ingresados : {{ this.criterioDeBusquedaPorNyA.length}}</span>

    <input type="text" class="form-control" v-model="criterioDeBusquedaDNI" placeholder="Ingresar un DNI ...">
    <span class="badge badge-light mb-4">Caracteres ingresados : {{ this.criterioDeBusquedaDNI.length}}</span>
    <div class="alert alert-danger h-25" v-if="validarCaracteres()">
        <p style="margin: 0px;">Debe ingresar mas de 3 caracteres en cada campo
        </p>
    </div>
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

</html>

<script>



    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            criterioDeBusquedaPorNyA: "",
            criterioDeBusquedaDNI: "",
            tamañoInput: true,
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Daniel",
                    apellido: "Pisa",
                    correo: "pisa@gmail.com",
                    dni: "38289564"
                },
                {
                    nombre: "Gonzalo",
                    apellido: "Miglore",
                    correo: "Miglore@gmail.com",
                    dni: "40234567"
                },
                {
                    nombre: "Facundo",
                    apellido: "Pradells",
                    correo: "pradells@gmail.com",
                    dni: "37865433"
                },
                {
                    nombre: "Leonel",
                    apellido: "Messi",
                    correo: "messi@gmail.com",
                    dni: "36467543"
                },
            ]

        },
        computed: {

            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni} ${persona.correo}`
                    let registroCompletoNyA = `${persona.nombre} ${persona.apellido}`
                    let registroCompletoDNI = `${persona.dni}`
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase()) && registroCompletoNyA.toLowerCase().includes(this.criterioDeBusquedaPorNyA.toLowerCase()) && registroCompletoDNI.toLowerCase().includes(this.criterioDeBusquedaDNI.toLowerCase())
                });
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`

            },
            validarCaracteres() {
                if (this.criterioDeBusqueda.length >= 3 && this.criterioDeBusquedaPorNyA.length >= 3 && this.criterioDeBusquedaDNI.length >= 3) {
                    return false
                }
                return true
            },
        }
    });
</script>